//This file includes top-level global styling, such as site scaffolding

@import "variables/_variables";

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	-ms-box-sizing: border-box
	-o-box-sizing: border-box
	box-sizing: border-box


// Using CSS to set states which can be checked in JS
// More info: http://davidwalsh.name/device-state-detection-css-media-queries-javascript
.state-checks
	position: fixed;
	top: -200px;
	font-size: 0;
	pointer-events: none;

@media #{$tablet-landscape-down}
	.state-checks .is-tablet-landscape-down:before
		content: 'true'

@media #{$tablet-portrait-down}
	.state-checks .is-tablet-portrait-down:before
		content: 'true'

@media #{$mobile-down}
	.state-checks .is-mobile-down:before
		content: 'true';

@media #{$xl-up}
	.state-checks .is-xl-up:before
		content: 'true';


*
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;


body, html
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	min-height: 100%;


body.pending
	cursor: wait !important;

body.pending *
	cursor: wait !important;

body.is-scrolling
	pointer-events: none;


::selection
	background: #eee !important;

::-moz-selection
	background:#eee !important;


a
	-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
	outline: none !important;

a img
	outline: none !important;
	border: none !important;

a:active, a:focus
	outline: none !important;

a:active img, a:focus img
	border: none !important;
	outline: none !important;

.page-context-wrap
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;

.page-context
	width: 100%;
	top: 0;
	backface-visibility: hidden;
	overflow: hidden;


.clearfix:after
	content: '';
	clear: both;
	position: relative;
	width: 100%;
	height: 0;
	font-size: 0;
	display: block;
	visibility: hidden;









.mod-img360
	position: fixed;
	top: 60px;
	left: 60px;
	width: 500px;
	height: 500px;
	background: red;

.mod-particleImage
	display: inline-block;
	font-size: 0;
	position: relative;
	img
		opacity: 0;
		width: 1000px;
		height: auto;
		display: block;
	canvas
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

p	
	width: 50%;
	display: block;
	margin: auto;

p.intro
	font-weight: bold;
	font-size: 1.5em;


.mod-glossary--shim
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background: rgba(0,0,0,0.88);
	pointer-events: none;

body.mod-glossary--term-shown .-mod-glossary--shim
	display: block;


span.mod-glossary--term
	color: red;
	text-transform: uppercase;
	display: inline-block;
	background: #ddd;
	cursor: help;

div.mod-glossary--def-view
	pointer-events: none;
	opacity: 1 !important;
	color: white;
	span
		display: block;
		float: left;
		opacity: 1 !important;

span.mod-glossary--term-span
	text-transform: uppercase;
	display: block;
	float: left;

span.mod-glossary--def-span
	width: 300px;



.mod-header-image
	position: relative;
	max-height: 80vh;
	overflow: hidden;
	background: black;
	img
		width: 100%;
		opacity: 0.4
	canvas
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;

